:root {
  /* primary */
  --p-purple: hsla(276, 60%, 61%, 1);
  --p-white: rgb(246, 234, 248);
  /* neutral */
  --n-dk-purple: hsla(246, 38%, 16%, 1);
  --n-gray: rgb(159, 158, 182);
  --n-bg: hsla(233, 46%, 7%, 1);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  
}

img {
  display: block;
  line-height: 0;
}

main {
  margin: 44px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--n-bg);
  display: grid;
  place-content: center;
  height: 100vh;
}


.container{

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  place-content:  center;
  text-align: center;
  align-items: center;
  height: initial;
  margin: auto;
  width: 1115px;
}

.hero-text{
  background: rgb(25,2,54);
  background: linear-gradient(180deg, rgba(25,2,54,1) 4%, rgba(20,3,48,1) 82%); 
  width: auto;
  height: 100%;
  text-align: left;
  justify-content: left;
  
 

}

.hero-text h1{
  font-size: 2.125rem;
  padding-bottom: 32px;
  background: linear-gradient(96.59deg, #FBF9FB -12.67%, #AD8DAE 105.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text > p{
  line-height: 1.75;
  padding-bottom: 5em;
  color: rgb(159, 158, 182);

}
