:root {
  /* primary */
  --p-purple: hsla(276, 60%, 61%, 1);
  --p-white: rgb(246, 234, 248);
  /* neutral */
  --n-dk-purple: hsla(246, 38%, 16%, 1);
  --n-gray: rgb(159, 158, 182);
  --n-bg: hsla(233, 46%, 7%, 1);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body{
  background-color: hsla(233, 46%, 7%, 1);
}