* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 47%, 7%);
  height: 100%;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-text {
  background-color: hsl(244, 38%, 16%);
}
